<html>
  <head> 
    <title> ATTRIBUTES & SPECIAL TAGS </title> 
    <style> 
      @import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

    
    body{
          background-image:  url(https://wallpaperaccess.com/full/2862101.jpg) ;
     }
     .si{
      display: flex;
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
     }
     p{
        font-size: 50px;
        text-align: center;
        color: burlywood;
     }
   </style>
</head>
  <body>
    <div class="si"> 
  <p>pleas check your email</p>
    </div>
  </body>
</html>